<% content_for :navbar do %>
  <%= render "layouts/navbar", active: "recipes"%>
<% end %>
<div class="container-fluid p-2">
  <div class="row justify-content-evenly">
    <div class="col col-md-6 col-12">
      <div class="card">
        <% if @recipe.picture.attached? %>
          <%= image_tag @recipe.picture, class: 'card-img-top', style: 'max-height: 18rem' %>
          <div class="shadow bg-light w-75 mx-auto mt-n4">
            <h1 class="card-title m-3 float-start">
              <%= @recipe.title%>
            </h1>
            <h1 class="float-end m-3">
              <%= link_to edit_recipe_path(@recipe), class: 'link-secondary',
                'data-bs-toggle': 'modal', 'data-bs-target': '#new-recipe-modal',
                'data-action': 'stop#preventDefault' do %>
                <i class="bi bi-pencil-square text-secondary"></i>
              <% end %>
            </h1>
          </div>
        <% else %>
          <div class="w-75 mx-auto text-center">
            <h1 class="card-title p-2 d-inline-block">
              <%= @recipe.title%>
            </h1>
            <h1 class="d-inline-block m-3">
              <%= link_to edit_recipe_path(@recipe), class: 'link-secondary',
                'data-bs-toggle': 'modal', 'data-bs-target': '#new-recipe-modal',
                'data-action': 'stop#preventDefault' do %>
                <i class="bi bi-pencil-square text-secondary"></i>
              <% end %>
            </h1>
          </div>
        <% end %>
        <div class="card-body">
          <div class="card-text">
            <%== markdown(@recipe.body) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "form-dialog", recipe: @recipe %>