<% content_for :navbar do %>
  <%= render "layouts/navbar", active: "ingredients"%>
<% end %>
<div class="px-2">
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-md-8 col-12">
        <div class="row justify-content-around align-items-center">
          <div class="col">
            <h1>Ingredients</h1>
          </div>
          <div class="col-auto">
            <%= link_to new_ingredient_path, class: 'btn btn-primary', 'data-bs-toggle': 'modal', 'data-bs-target': '#new-ingredient-modal', 'data-action': 'stop#preventDefault' do %>
              <i class="bi bi-plus"></i> Add Ingredient
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th>Ingredient</th>
              <th class="w-25" >Action</th>
            </tr>
          </thead>
          <tbody>
            <% @ingredients.each do |ingredient| %>
              <tr class="align-middle">
                <td><%= ingredient.name %>
                <td>
                  <%= form_with method: :delete, url: ingredient_path(ingredient) do |from| %>
                    <button
                      type="submit" class="btn btn-link link-danger" 
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"
                      data-controller="confirm" data-action="confirm#confirm recipe#stop" data-confirm-confirm-value="Sure?"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new-ingredient-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title">New Ingredient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @ingredient do |form| %>
        <div class="modal-body">
          <div>
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit class: 'btn btn-primary', value: 'Create' %>
        </div>
      <% end %>
    </div>
  </div>
</div>