<% content_for :navbar do %>
  <%= render 'layouts/navbar' %>
<% end %>

<div class="container-fluid p-5">
  <div class="row gy-5">
    <div class="col col-lg-6 col-12">
      <h3>Mealplan</h3>
      <div class="card-group">
        <div class="card hm-card">
          <div class="card-header">
            Today's meal
          </div>
          <% if not @todays_meals.empty? %>
            <% @todays_meals.each do |meal| %>
              <% if meal.recipe.picture.attached? %>
                <%= image_tag meal.recipe.picture, class: 'card-img-top mt-2 img-thumbnail p-1 m-auto rounded-circle w-50', style: 'aspect-ratio: 1' %>
              <% else %>
                <%= image_tag "default-meal-2.svg", class: 'card-img-top mt-2 img-thumbnail p-1 m-auto rounded-circle w-50', style: 'aspect-ratio: 1' %>
              <% end%>
              <div class="card-body">
                <div class="card-title mp-card-title-overflow" title="<%= meal.recipe.title%>">
                  <%= meal.recipe.title %>
                </div>
                <div class="card-footer mp-card-embedded-footer">
                  <div class="col-auto text-center mx-auto">
                    <%= link_to(recipe_path(meal.recipe), class: 'link-secondary mp-card-actions', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", title: "Show") do %>
                      <i class="bi bi-eye m-auto"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card-body">
              <div class="card-text">
                <span>No meal planned for today</span>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card hm-card">
          <div class="card-header">
            Tomorrow's meal
          </div>
          <% if not @tomorrows_meals.empty? %>
            <% @tomorrows_meals.each do |meal| %>
              <% if meal.recipe.picture.attached? %>
                <%= image_tag meal.recipe.picture, class: 'card-img-top mt-2 img-thumbnail p-1 m-auto rounded-circle w-50', style: 'aspect-ratio: 1' %>
              <% else %>
                <%= image_tag "default-meal-2.svg", class: 'card-img-top mt-2 img-thumbnail p-1 m-auto rounded-circle w-50', style: 'aspect-ratio: 1' %>
              <% end%>
              <div class="card-body">
                <div class="card-title mp-card-title-overflow" title="<%= meal.recipe.title%>">
                  <%= meal.recipe.title %>
                </div>
                <div class="card-footer mp-card-embedded-footer">
                  <div class="col-auto text-center mx-auto">
                    <%= link_to(recipe_path(meal.recipe), class: 'link-secondary mp-card-actions', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", title: "Show") do %>
                      <i class="bi bi-eye m-auto"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card-body">
              <div class="card-text">
                <span>No meal planned for tomorrow</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-12">
      <h3>Todos</h3>
      <table class="table table-striped">
        <thead class="table-dark">
          <th>Task</th>
          <th>Due</th>
          <th></th>
        </thead>
        <tbody>
          <% if @tasks.empty? %>
            <tr>
              <td colspan="3" class="text-center fst-italic">No tasks</td>
            </tr>
          <% else %>
            <% @tasks.each do |task| %>
              <tr
                <%== 'class="table-danger"' if task.due < Time.now and not task.done %>
                <%== 'class="table-warning"' if task.due.to_date == Date.today and not task.done %>
              >
                <td class="align-middle">
                  <%= task.title%>
                </td>
                <td class="align-middle">
                  <%= task.due.strftime("%H:%M %d.%m.%Y") %>
                </td>
                <td>
                  <%= link_to(todos_path(:id => task.id), class: 'link-secondary text-center', 'data-bs-toggle': "tooltip", 'data-bs-placement': 'bottom', title: 'Show') do %>
                    <i class="bi bi-eye"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <div class="row justify-content-around">
        <div class="col">
          <h3>Finances</h3>
        </div>
        <div class="col col-auto pb-1">
          <div class="btn-group" role=group">
            <%= link_to 'Today', root_path(finances: 'day'), class: 'btn btn-outline-primary '  + (if @finances_selected == 'day' then 'active' else '' end) %>
            <%= link_to 'Week', root_path(finances: 'week'), class: 'btn btn-outline-primary '  + (if @finances_selected == 'week' then 'active' else '' end) %>
            <%= link_to 'Month', root_path(finances: 'month'), class: 'btn btn-outline-primary '  + (if @finances_selected == 'month' then 'active' else '' end) %>
            <%= link_to 'Year', root_path(finances: 'year'), class: 'btn btn-outline-primary '  + (if @finances_selected == 'year' then 'active' else '' end) %>
            <%= link_to 'All', root_path(finances: 'all'), class: 'btn btn-outline-primary '  + (if @finances_selected == 'all' then 'active' else '' end) %>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead class="table-dark">
          <th>Category</th>
          <th class="text-end">Current</th>
          <% unless @finances_selected == 'all' %>
            <th class="text-end">Last</th>
          <% end %>
        </thead>
        <tbody>
          <% if @total.amount %>
            <% @finances.each do |f| %>
              <tr>
                <td>
                  <%= f.category %>
                </td>
                <td class="text-end">
                  <%= f.amount_fmt %> €
                </td>
                <% unless @finances_selected == 'all' %>
                  <td class="text-end fst-italic">
                    <%= if f.id.nil? then '0.00' else '%.02f' % (f.id / 100.0)  end%> €
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center fst-italic">No Transactions</td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Total:</b></td>
            <td class="text-end"><b><%= @total.amount_fmt %> €</b></td>
            <% unless @finances_selected == 'all' %>
              <td class="text-end"><b><%= @oldTotal.amount_fmt %> €</b></td>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
