<div class="card sticky-top">
  <div class="card-body">
    <div class="card-title row justify-content-around">
      <div class="col">
        <%= @task.title %>
      </div>
      <div class="col text-end">
        <%= link_to edit_todo_path(@task), class: 'btn btn-primary', 'data-bs-toggle': 'modal', 'data-bs-target': '#edit-todo-modal', 'data-action': 'stop#preventDefault' do %>
          <i class="bi bi-pencil"></i> Edit 
        <% end %>
      </div>
    </div>
    <div class="card-text">
      <h4>Description</h4>
      <%== markdown(@task.body) %>
      <h4>Other Tasks</h4>
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Due</th>
          </tr>
        </thead>
        <tbody>
          <% @task_list.each do |task| %>
            <tr 
              <%== 'class="table-danger"' if task.due < Time.now and not task.done%>
              <%== 'class="table-warning"' if task.due.to_date == Date.today and not task.done %>
              <%== 'class="text-decoration-line-through"' if task.done %>"
            >
              <td class="align-middle">
                <%= task.title %>
              </td>
              <td class="align-middle">
                <%= task.due.strftime("%H:%M %d.%m.%Y") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="edit-todo-modal" tabindex="-1" data-controller="new-todo stop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div data-new-todo-target="form-container">
         <%= render 'form', todo: @task %>
      </div>
    </div>
  </div>
</div>